body{
     margin:0px;
     padding:0px;
     }
	 
div{
     margin-left:14px;
	 margin-top:14px;
	 padding:0px;
	 width:195px;
	 text-align:center;
	 }
	 
dl{
	 padding:0px;
	 margin:0px;
	 text-align:center;
	 
	 }
	 
dt{ 
	 height:36px;
	 line-height:36px;
	 background-image:url(dt-1.png);
	 background-repeat:no-repeat;
	 padding-top:0px;
	 font-family:"Î¢ÈíÑÅºÚ";
	 font-size:12pt;
	 font-weight:bolder;
	 color:black;
	 }
dd{
      padding:0px;
      margin:0px;
	  background-image:url(mulubeijin.png); 
	  background-repeat:no-repeat;
	  line-height:36px;
}
.mm li{
     list-style-type:none; 
	 padding:0px;
	 margin:0px;
	 }
.mm a{ 
     padding:0px;
	 margin:0px;
	 font-size:11pt;
	 font-weight:bold;
	 color:#595959;
	 text-align:center;
	 text-decoration:none; 
}
.mm a:link,.mm a:visited{
     padding:0px;
	 margin:0px;
     background-color:#FFFFFF;
      }
.mm a:hover,.mm a:active{
      background-color:#88b6f0;
	  }
.mm a img{margin-bottom:-10px;}
	   